<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Eventos</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Cadastro de Eventos</h1>
    <form id="cadastroEventosForm">
        <!-- Seleção de Empregador -->
        <h2>Empregador:</h2>
        <select id="empregador" name="empregador" required>
            <option value="">Selecione o Empregador...</option>
     
            <!-- Adicione mais opções de empresas aqui -->
        </select>

        <!-- Seleção de Funcionário Atual -->
        <h2>Funcionário Atual:</h2>
        <select id="funcionario" name="funcionario" required>
            <option value="">Selecione o Funcionário...</option>
      
            <!-- Adicione mais opções de funcionários aqui -->
        </select>

        <h2>Ex-funcionários:</h2>
        <select id="exFuncionario" name="exFuncionario">
            <option value="">Selecione o Ex-funcionário...</option>
        </select>
        

        <!-- Seleção de Evento -->
        <h2>Evento:</h2>
        <select id="evento" name="evento" required>
            <option value="">Selecione o Evento...</option>
            <option value="Hora extra">Hora extra</option>
            <option value="Falta">Falta</option>
            <option value="Atraso">Atraso</option>
            <option value="Descanso Semanal Remunerado">Descanso Semanal Remunerado</option>
            <option value="Adicional Noturno">Adicional Noturno</option>
            <option value="Salário Família">Salário Família</option>
            <option value="Diária de Viagem">Diária de Viagem</option>
            <option value="Auxílio Creche/Babá">Auxílio Creche/Babá</option>
            <!-- Adicione mais opções de eventos aqui -->
        </select>

        <!-- Data do Evento -->
        <label for="dataEvento">Data do Evento:</label>
        <input type="date" id="dataEvento" name="dataEvento" required>

        <!-- Quantidade de Horas -->
        <label for="quantidadeHoras">Quantidade de Horas:</label>
        <input type="number" id="quantidadeHoras" name="quantidadeHoras" required>

        <!-- Valor Monetário -->
        <label for="valorMonetario">Valor Monetário:</label>
        <input type="number" id="valorMonetario" name="valorMonetario">

        <!-- Observação -->
        <label for="observacao">Observação:</label>
        <textarea id="observacao" name="observacao"></textarea>

        <!-- Salário do Funcionário -->
        <div id="salarioFuncionario"></div>

        <!-- Botão de Submit -->
        <button type="submit">Cadastrar</button>
    </form>

    <script src="script.js"></script>
</body>
</html>
